
Meet
New meeting
Join a meeting
Hangouts

Conversations
me
(no subject)
 
Attachment:
I&S SA ppt unit 5.pptx
4:36 AM
6.43 GB of 15 GB used
Terms · Privacy · Program Policies
Last account activity: 35 minutes ago
Details
.body_backgorund 
{
    background-image:url(backg.jpg);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h3
{
	width: 1000px;
	background-color: white;
	display: inline-block;
}